@model  ChessWeb.Models.MainPageViewModel
@{
  ViewBag.Title = "ChessWeb";
}
@*<p> @Model.Cases.ToList().Count() </p>*@
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
  function start() {
    var computerColor = $('#computerColor').val();

    var duration = $('#duration').val();
    //var selectedLevel = $('#level').val();
    //TODO remmetre le leve
    var selectedLevel = '4';
    //alert(computerColor);
    var data = { objId: -1, whiteTimeInSecond: 0, blackTimeInSecond: 0, CPUColor: computerColor, selectedDurationType: duration, selectedLevel: selectedLevel };
    $.ajax({
      type: "POST",
      url: "/Home/Details",
      data: data,
      contentType: 'application/x-www-form-urlencoded',
      dataType: "html",
      success: function (response) {
        $('#dvPartial').html(response);
      },
      failure: function (response) {
        alert(response.responseText);
      },
      error: function (response) {
        alert(response.responseText);
      }
    });
  };
</script>
<div>
  <div>

    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
      <div>
        @Html.TextBox("file", "", new { type = "file", accept = ".Chess.zip", required="true" })
        <input type="submit" value="Upload" />
        @ViewBag.Message
      </div>
    }
   
    <br />
    @if (Model.IsFormLoander)
    {
      <h6>Apercus : </h6>
      <div class="d-flex">

        <div class="d-inline-block">

          <div id="history_div" style="width: 150px; height: 700px; overflow-y: scroll;">
            @if (Model.MovingList != null)
            {
              @Model.MovingList.Count
              foreach (var line in Model.MovingList)
              {
                @line
                <br />
              }
            }
          </div>
          @*<button onclick="SavehistoryClicked()">download</button>*@
          <a href="@Url.Action("SaveHistory", "Home")">
            <button class="fa fa-save"></button>
          </a>


          @*  @Html.ActionLink("save historique", "SaveHistory")*@
        </div>

        @*on ajoute une espace pour la version inverser*@
        @if (Model.RevertWrapperClass == "revertWrapper")
        {
          <div class="d-inline-block" style="width: 100px;">
          </div>
        }


        <div class="d-inline-block" style="width: 500px;">

          <div class="wrapper @Model.RevertWrapperClass">
            <div class="top">

              <div class="wrapper-inner">
                <div align="left">
                  <label class="@Model.RevertWrapperClass">@Model.BlackScore </label>
                </div>

                <div align="right">
                  @if (Model.HuntingBoardWhiteImageList != null)
                  {
                    foreach (var imageSrc in Model.HuntingBoardWhiteImageList)
                    {
                      <img src=@imageSrc width="25" height="25"
                           class="@Model.RevertWrapperClass" />

                    }
                  }

                </div>
                @*<div class="box-inner @Model.RevertWrapperClass">A</div>
                <div class="box-inner @Model.RevertWrapperClass">B</div>
                <div class="box-inner @Model.RevertWrapperClass">C</div>
                <div class="box-inner @Model.RevertWrapperClass">D</div>
                <div class="box-inner @Model.RevertWrapperClass">E</div>
                <div class="box-inner @Model.RevertWrapperClass">F</div>
                <div class="box-inner @Model.RevertWrapperClass">G</div>
                <div class="box-inner @Model.RevertWrapperClass">H</div>*@
              </div>
            </div>
            @for (int i = 0; i < 8; i++)
            {
              for (int j = 0; j < 8; j++)
              {
                <div id="@Model.GetPawn(j + (8 * i)).Index"
                     class="box"
                     onclick="DivClicked(@Model.GetPawn(j + (8 * i)).Index); return true;">
                  @* <p>@Model.GetPawn(j + (8 * i)).Index</p>*@


                  @if (@Model.GetPawn(j + (8 * i)).ImageIsExist)
                  {
                    <img src=@Model.GetPawn(j + (8 * i)).PawnImageSrc width="50" height="50"
                         class="@Model.GetPawn(j + (8 * i)).SelectedClass @Model.RevertWrapperClass" />
                  }
                  else
                  {
                    <img src="" width="5" height="5"
                         class="@Model.GetPawn(j + (8 * i)).SelectedClass @Model.RevertWrapperClass" />
                  }
                  @*<img src="~/Images/BishopBlack.png" width="50" height="50" />*@


                </div>
              }
            }

            <div class="bottom">

              <div class="wrapper-inner">
                <div align="left">
                  <label class="@Model.RevertWrapperClass">@Model.WhiteScore </label>
                </div>

                <div align="right">
                  @if (Model.HuntingBoardBlackImageList != null)
                  {
                    foreach (var imageSrc in Model.HuntingBoardBlackImageList)
                    {
                      <img src=@imageSrc width="25" height="25"
                           class="@Model.RevertWrapperClass" />

                    }
                  }
                </div>
                @*<div class="box-inner @Model.RevertWrapperClass">A</div>
                <div class="box-inner @Model.RevertWrapperClass">B</div>
                <div class="box-inner @Model.RevertWrapperClass">C</div>
                <div class="box-inner @Model.RevertWrapperClass">D</div>
                <div class="box-inner @Model.RevertWrapperClass">E</div>
                <div class="box-inner @Model.RevertWrapperClass">F</div>
                <div class="box-inner @Model.RevertWrapperClass">G</div>
                <div class="box-inner @Model.RevertWrapperClass">H</div>*@
              </div>
            </div>

          </div>

        </div>
      </div>


    }

    <br />
  </div>
  @*<label for="level">Level:</label>
    <select id="level" >
      <option selected value=3>3</option>
      <option  value=4>4</option>
    </select>*@
    <label for="duration">duration:</label>
    <select id="duration">
      <option selected value="30mn">30mn</option>
      <option value="15mn">15mn</option>
      <option value="1h">1h</option>
    </select>

    <label for="color">Computer color:</label>
    <select id="computerColor">
      <option class="whiteFont sectionBG" value="W">White</option>
      <option class="blackFont sectionBG" value="B">Black</option>
    </select>
    <button onclick="start()">play</button>
  </div>
<div id="dvPartial"></div>










